@model LMSFinalProject.UI.MVC.Models.ContactModel      
<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Education Connection</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Get connected for free at Education Connection.</h2>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Connect For Free</h2>
                <p class="text-white-50">
                    With Education Connection getting connected to online school for free has never been easier. Get your education on your time with education connection! 
                </p>
            </div>
        </div>
        <img class="img-fluid" src="~/content/assets/img/ipad.png" alt="" />
    </div>
</section>
<!-- Signup-->
    <section class="signup-section" id="signup">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <div class="form-row" id="contactBox">
            <div class="col-md-6 form-group">
                @Html.EditorFor(Model => Model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                @Html.ValidationMessageFor(Model => Model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6 form-group">
                @Html.EditorFor(Model => Model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
                
                <div class="form-group" id="contactBox">
                    @Html.EditorFor(Model => Model.Subject, new { htmlAttributes = new { @class = "form-control", @placeholder = "Subject" } })
                    @Html.ValidationMessageFor(Model => Model.Subject, "", new { @class = "text-danger" })
                </div>
                <div class="form-group" id="contactBox">
                    @Html.EditorFor(Model => Model.Message, new { htmlAttributes = new { @class = "form-control", @placeholder = "Message" } })
                    @Html.ValidationMessageFor(Model => Model.Message, "", new { @class = "text-danger" })
                </div>

            <button type="submit" class="btn btn-success">Submit</button>
        }
    </section>

